
<h1 mat-dialog-title>Pokemon detail </h1>
<div mat-dialog-content >

  <span>{{pokemonDetail.name}}</span>
  <br>
  <span>{{data.url}}</span>

</div>

<div mat-dialog-actions>
  <button mat-button type='button' (click)="closeModal()">Close </button>
</div>


