
<h1 mat-dialog-title>{{data && data.id ? 'Edit album' : 'Add album'}} </h1>
<form mat-dialog-content  [formGroup]="form" (ngSubmit)="saveAlbum(form.value)">

  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Band</mat-label>
      <input matInput formControlName="band">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Labels</mat-label>
      <input matInput formControlName="label">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Genres</mat-label>
      <input matInput formControlName="genre">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Producer</mat-label>
      <input matInput formControlName="producer">
    </mat-form-field>
  </div>


  <div mat-dialog-actions>
    <button mat-button type='button' (click)="closeModal()">Close </button>
    <button mat-button type="submit" cdkFocusInitial>Save</button>
  </div>

</form>


